html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, menu, input, button, textarea, p, blockquote, th, td{
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
body {
    font-family: 'Microsoft Yahei';
    font-size: 12px;
    color: #6C6C6C;
    line-height: 1.5;
}
a {
    text-decoration: none;
    color: #7A7A7A;
}

a:hover {
    color: #8E0C3A;
}

/*------------------------------------header-----------*/
.headerbar {
    background: #f4f4f4;
    height: 36px;
    width:  100%;
}
.headerbar_m {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}
.headerbar .headerbar_l {
    float: left;
    padding: 9px 0;
}
.headerbar .headerbar_r {
    float: right;
    padding: 9px 0;
}
.headerbar .headerbar_r div {
    float: left;
}
.headerbar .headerbar_l a:nth-child(1) {
    padding-right: 15px;
}
.headerbar .headerbar_l a:nth-child(2) {
    padding: 0 15px;
    border-left: 1px solid rgb(204, 204, 204);
}
.headerbar .headerbar_r div:nth-child(2) {
    padding-left : 18px;
}
.headerbar .headerbar_r div:nth-child(3) {
    padding-left : 18px;
}
.headerbar .headerbar_r span {
    font-size: 12px;
}
.headerbar .headerbar_r b {
    border-left: 1px solid rgb(204, 204, 204);
    padding: 0 7px;
    margin-left: 3px;
}

.header_top {
    height: 100px;
}
.header_top img {
    float: left;
}
.header_top img:nth-child(1) {
    margin-top: 15px;
}
.header_top img:nth-child(2) {
    margin: 40px 0 0 7px;
}
.header_top img:nth-child(3) {
    margin: 27px 175px 0;
}
.header_top form {
    overflow: hidden;
    border: 1px solid #999;
    padding: 0 4px;
    margin-top: 40px;
}
.header_top form input {
    border: none;
    width:  131px;
    height : 24px;
    float: left;
    outline: none;
}
.header_top button {
    height: 24px;
    width: 24px;
    border: none;
    outline: none;
    float: left;
    background: url(../img/searchBtn.gif) no-repeat;
    cursor: pointer;
}

.main_nav .headerbar_m > ul > li {
    font-size: 14px;
    height: 33px;
    line-height: 33px;
    width: 96px;
    text-align: center;
    float: left;
    position: relative;
}
.main_nav .headerbar_m > ul {
    border-bottom: 1px solid black;
    overflow: hidden;
}
.main_nav .headerbar_m > ul > li > span {
    background: url(../img/new.png) no-repeat;
    width : 27px;
    height: 12px;
    position: absolute;
    right : 3px;
    top : 3px;
}

/*-----------------------------------------footer----------------------*/
#footer {
    margin-top: 30px;
}
.help {
    padding: 30px 0 10px 0;
    border-top: 1px solid #CCC;
    overflow: hidden;
}
.help .help1 li {
    width: 95px;
    height: 19px;
    line-height: 19px;
}
.help .intro_t {
    color: #666;
    font-weight: bold;
    padding: 10px 0 8px 0;
}
.help ul {
    float: left;
}

.help .foot_1bd {
    height: 86px;
    border-left: 1px solid #ccc;
    text-align: center;
}
.help span {
    font-size: 14px;
    font-weight: bold;
}
.foot_1bd li {
    padding-top: 13px;
}
.foot_1bd b {
    font-size: 20px;
    font-weight: normal;
}
.foot_1bd .qq {
    background: url(../img/footico.gif) no-repeat;
    width: 20px;
    height: 23px;
    display: inline-block;
    margin: 5px 6px;
}
.foot_1bd .kf {
    background: url(../img/footico.gif) no-repeat;
    width: 21px;
    height: 23px;
    display: inline-block;
    background-position: -20px 0;
    margin: 5px 6px;
}

.foot_last li{
    float: left;
    padding: 0;
}
.foot_last .ll{
    width: 108px;
}
.foot_last p {
    font-weight: bold;
    color: #666;
}

.subnav li {
    width: 90px;
    height: 22px;
    float: left;
    line-height: 22px;
}
.subnav {
    background: #EEE;
    margin-top: 17px;
}
.subnav ul {
    overflow: hidden;
    margin: 0 auto;
    width: 810px;
    text-align: center;
}
.link a {
    display: inline-block;
}
.link li:nth-child(1) a{
    background: url(../img/foot_pic_s.jpg) no-repeat 0 -110px;
    width: 22px;
    height: 23px;
}
.link li:nth-child(2) a{
    background: url(../img/foot_pic_s.jpg) no-repeat 0 -155px;
    width: 100px;
    height: 22px;
}
.link li:nth-child(3) a{
    background: url(../img/foot_pic_s.jpg) no-repeat 0 -133px;
    width: 66px;
    height: 22px;
}
.link li:nth-child(4) a{
    background: url(../img/foot_pic_s.jpg) no-repeat -182px -180px;
    width: 73px;
    height: 22px;
}
.link li:nth-child(5) a{
    background: url(../img/foot_pic_s.jpg) no-repeat -66px -110px;
    width: 73px;
    height: 22px;
}
.link li:nth-child(6) a{
    background: #5a5a5a;
    width: 85px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    color: #FFF;
}
.link li {
    float: left;
}
.link ul {
    overflow: hidden;
    width: 480px;
    margin: 3px auto;
}
.link {
    margin: 30px 0 10px 0;
}
.copyright {
    text-align: center;
}
.thelast a{
    height: 35px;
    display: inline-block;
    overflow: hidden;
}
.thelast {
    padding: 10px 0;
    text-align: center;
}