html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, menu, input, button, textarea, p, blockquote, th, td{
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
body {
    font-family: 'Microsoft Yahei';
    font-size: 12px;
    color: #6C6C6C;
    line-height: 1.5;
}
a {
    text-decoration: none;
    color: #7A7A7A;
}

a:hover {
    color: #8E0C3A;
}

/*------------------------------------header-----------*/
.headerbar {
    background: #f4f4f4;
    height: 36px;
    width:  100%;
}
.headerbar_m {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}
.headerbar .headerbar_l {
    float: left;
    padding: 9px 0;
}
.headerbar .headerbar_r {
    float: right;
    padding: 9px 0 0 0;
}
.headerbar .headerbar_r div {
    float: left;
}
.headerbar .headerbar_l a:nth-child(1) {
    padding-right: 15px;
}
.headerbar .headerbar_l a:nth-child(2) {
    padding: 0 15px;
    border-left: 1px solid rgb(204, 204, 204);
}
.headerbar .headerbar_r div:nth-child(2) {
    padding-left : 18px;
}
.headerbar .headerbar_r div:nth-child(3) {
    padding-left : 18px;
}
.headerbar .headerbar_r span {
    font-size: 12px;
}
.headerbar .headerbar_r .num {
    color: #8e0c3a;
}
.headerbar .headerbar_r b {
    border-left: 1px solid rgb(204, 204, 204);
    padding: 0 7px;
    margin-left: 3px;
}

.header_top {
    height: 100px;
}
.header_top img {
    float: left;
}
.header_top img:nth-child(1) {
    margin-top: 15px;
}
.header_top img:nth-child(2) {
    margin: 40px 0 0 7px;
}
.header_top img.logo {
    margin: 27px 175px 0;
}
.header_top form {
    overflow: hidden;
    border: 1px solid #999;
    padding: 0 4px;
    margin-top: 40px;
}
.header_top form input {
    border: none;
    width:  131px;
    height : 24px;
    float: left;
    outline: none;
}
.header_top button {
    height: 24px;
    width: 24px;
    border: none;
    outline: none;
    float: left;
    background: url(../img/searchBtn.gif) no-repeat;
    cursor: pointer;
}

.main_nav .clearfix > ul > li {
    font-size: 14px;
    height: 33px;
    line-height: 33px;
    width: 96px;
    text-align: center;
    float: left;
    position: relative;
    cursor: pointer;
}
.main_nav .clearfix > ul {
    border-bottom: 1px solid black;
}
.main_nav .clearfix > ul::after {
    content: '';
    display: block;
    clear: both;
}
.main_nav .clearfix > ul > li > span {
    background: url(../img/new.png) no-repeat;
    width : 27px;
    height: 12px;
    position: absolute;
    right : 3px;
    top : 3px;
}

/*-----------------------------------------footer----------------------*/
#footer {
    margin-top: 30px;
}
.help {
    padding: 30px 0 10px 0;
    border-top: 1px solid #CCC;
    overflow: hidden;
}
.help .help1 li {
    width: 95px;
    height: 19px;
    line-height: 19px;
}
.help .intro_t {
    color: #666;
    font-weight: bold;
    padding: 10px 0 8px 0;
}
.help ul {
    float: left;
}

.help .foot_1bd {
    height: 86px;
    border-left: 1px solid #ccc;
    text-align: center;
}
.help span {
    font-size: 14px;
    font-weight: bold;
}
.foot_1bd li {
    padding-top: 13px;
}
.foot_1bd b {
    font-size: 20px;
    font-weight: normal;
}
.foot_1bd .qq {
    background: url(../img/footico.gif) no-repeat;
    width: 20px;
    height: 23px;
    display: inline-block;
    margin: 5px 6px;
}
.foot_1bd .kf {
    background: url(../img/footico.gif) no-repeat;
    width: 21px;
    height: 23px;
    display: inline-block;
    background-position: -20px 0;
    margin: 5px 6px;
}

.foot_last li{
    float: left;
    padding: 0;
}
.foot_last .ll{
    width: 108px;
}
.foot_last p {
    font-weight: bold;
    color: #666;
}

.subnav li {
    width: 90px;
    height: 22px;
    float: left;
    line-height: 22px;
    cursor: pointer;
}
.subnav {
    background: #EEE;
    margin-top: 17px;
}
.subnav ul {
    overflow: hidden;
    margin: 0 auto;
    width: 810px;
    text-align: center;
}
.link a {
    display: inline-block;
}
.link li:nth-child(1) a{
    background: url(../img/foot_pic_s.jpg) no-repeat 0 -110px;
    width: 22px;
    height: 23px;
}
.link li:nth-child(1) a:hover {
    background-position:0 0;
}
.link li:nth-child(2) a{
    background: url(../img/foot_pic_s.jpg) no-repeat 0 -155px;
    width: 100px;
    height: 22px;
}
.link li:nth-child(2) a:hover {
    background-position:0 -45px;
}
.link li:nth-child(3) a{
    background: url(../img/foot_pic_s.jpg) no-repeat 0 -133px;
    width: 66px;
    height: 22px;
    margin-left: 40px;
}
.link li:nth-child(4) a{
    background: url(../img/foot_pic_s.jpg) no-repeat -182px -180px;
    width: 73px;
    height: 22px;
}
.link li:nth-child(4) a:hover {
    background-position:-182px -70px;
}
.link li:nth-child(5) a{
    background: url(../img/foot_pic_s.jpg) no-repeat -66px -110px;
    width: 73px;
    height: 22px;
}
.link li:nth-child(5) a:hover {
    background-position:-66px 0;
}
.link li:nth-child(6) a{
    background: #5a5a5a;
    width: 85px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    color: #FFF;
}
.link li {
    float: left;
}
.link ul {
    overflow: hidden;
    width: 480px;
    margin: 3px auto;
}
.link {
    margin: 30px 0 10px 0;
}
.copyright {
    text-align: center;
}
.thelast a{
    height: 35px;
    display: inline-block;
    overflow: hidden;
}
.thelast {
    padding: 10px 0;
    text-align: center;
}

/*-------------------------------------------js-------------------------------*/
.focusme {
    position: absolute;
    display: none;
}

.focusme li {
    float: left;
    margin: 7px 15px;
}
.focusme ul {
    width: 160px;
    height: 60px;
    background: #FFF;
    border: 1px solid #ccc;
    left: -96px;
    top: 8px;
    position: absolute;
    text-align: center;
    overflow: hidden;
}
.clearfix {
    width: 960px;
    margin: 0 auto;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.menu_m {
    position: absolute;
    width: 958px;
    background: #FFF;
    left: -96px;
    top : 1px;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
    z-index: 1;
}
.menu_m_s {
    float: left;
    font-size: 12px;
    text-align: left;
    margin-top: 17px;
    margin-left: 37px;
    margin-bottom: 27px;
}
.menu_m_s:nth-child(1){
    width: 100px;
    font-weight: bold;
    padding-bottom: 5px;
    text-align: center;
    margin-left: 0;
    margin-right: 17px;
}
.menu_m_s:nth-child(1) a {
    color: #8e0c3a;
}
.menu_m_s dt:nth-child(1) a {
    color: #8e0c3a;
    font-weight: bold;
}
.menu_m_s li {
    float: left;
    width: 150px;
}
.menu_m_s img {
    width: 150px;
}
.menu_m_s li:nth-child(2) {
    margin: 0 30px;
}
.menu_m_s p {
    line-height: 20px;
}
.menu_m_b {
    position: absolute;
    bottom: 20px;
    line-height: 20px;
}
.menu_m_b a {
    border-bottom: 1px solid #ccc;
    display: block;
    margin-left: 27px;
    font-size: 12px;
}

/*-------------------------banner---------------------------------*/
.left_l {
    position: absolute;
    font-size: 27px;
    line-height: 38px;
    left: 7px;
    top: 50%;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color : #FFF;
    margin-top: -19px;
    display: none;
}
.right_r {
    position: absolute;
    font-size: 27px;
    line-height: 38px;
    right: 7px;
    top: 50%;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: #FFF;
    margin-top: -19px;
    display: none;
}
#main ul {
    left: -960px;
    top: 0;
    position: absolute;
}
#main div {
    height: 500px;
}

/*------------------------------------------关注-------------------*/
.focusy {
    cursor: default;
}
.focusy:hover span {
    color: black;
    font-weight: bold;
}
/*购物袋*/
.headerbar .headerbar_r div.buy {
    cursor: pointer;
    padding-bottom: 8px;
    padding-left: 8;
    margin-left: 10px;
    margin-top: -1px;
    border: 1px solid #f4f4f4;
    position: relative;
    z-index: 1;
}
.headerbar .headerbar_r .buycar {
    position: absolute;
    right: 0;
    top: 35px;
    width: 275px;
    padding: 10px 20px 10px 20px;
    background: #FFF;
    border: 1px solid #ccc;
    display: none;
    z-index: 999;
}

/*清除浮动*/
.clear {
    clear: both;
}

/*固定的搜索*/
#search_top {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background: #FFF;
    z-index: 999;
    border-bottom: 1px solid #CCC;
    display: none;
}
.lawliet {
    width: 960px;
    margin: 0 auto;
}
.lawliet > a {
    float: left;
    overflow: hidden;
    height: 31px;
    margin-top: 10px;
}
.lawliet > a img {
    width: 200px;
    margin-top: 7px;
    margin-right: 50px;
}
.lawliet form {
    float: left;
    width: 600px;
    height: 28px;
    background: #FFF;
    border: 2px solid #8e0c3a;
    margin-top: 14px;
    position: relative;
}
.lawliet form input {
    float: left;
    border: none;
    outline: none;
    height: 28px;
    width: 562px;
    padding-left: 10px;
}
.lawliet form button {
    float: left;
    border: none;
    outline: none;
    width: 28px;
    height: 28px;
    background: url(../img/searchBtn2.gif) no-repeat;
}
.lawliet > div {
    float: right;
    cursor: pointer;
    margin-top: 20px;
}
.lawliet > div span {
    color: #8e0c3a;
}
.lawliet > div img {
    vertical-align: middle;
}
.lawliet_box {
    position: absolute;
    width: 960px;
    background: #FFF;
    border: 1px solid #ccc;
    border-top: none;
    padding: 15px 0;
    top: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none;
}
.lawliet_box dl {
    float: left;
    margin: 0 15px;
}
.lawliet_box dl dt a{
    font-weight: bold;
    color: #8e0c3a;
    padding-bottom: 5px;
}
.lawliet_box dl dd {
    margin: 4px 0;
}
.lawliet_box dl:nth-child(1) {
    margin-left: 30px;
}

/*-----------------下拉框*/
.ul_b {
    box-shadow: 0 0 0 2px pink;
    position: absolute;
    width: 562px;
    background: #FFF;
    top: 32px;
    z-index: 999;
    display: none;
}
.ul_b li {
    line-height: 27px;
    text-indent: 15px;
}
.ul_b li:hover {
    background: pink;
}


/*------------------------------------------------*/
.buycar h4 {
    font-size: 12px;
    color: black;
    width: 310px;
}

.wantBuy div {
    float: left;
}
.wantBuy div.buy_r {
    float: right;
}
.wantBuy {
    width: 100%;
}
.buy_l a {
    float: left;
    margin-right: 5px;
}
.headerbar .headerbar_r div.buy_l {
    padding-left: 0;
    padding: 10px 0;
}
.buy_l span {
    color: #8E0C3A;
}
.buy_l {
    width: 260px;
}
.headerbar .headerbar_r div.buy_r {
    padding-left: 0;
    line-height: 84px;
}
.wantBuy {
    border-bottom: 1px solid #ccc;
}
.headerbar .headerbar_r div.wantBuy {
    padding-left: 0;
}

.buy_r span {
    cursor: pointer;
}
.buy_b {
    line-height: 20px;
    margin: 10px 0;
    width: 100%;
}
.buy_b p a {
    color: #FFF;
    background: #8e0c3a;
    float: right;
    line-height: 20px;
    text-align: center;
    width: 84px;
}
.headerbar .headerbar_r div.h {
    width: 100%;
    padding-left: 0;
    height: 260px;
    overflow: hidden;
}